esaenz7azdf101/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "esaenz7azdf101"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"esaenz7azfs101_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'esaenz7azfs101'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://esaenz7azsa101.dfs.core.windows.net/"
		},
		"esaenz7azfs101_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "@{linkedService().path}"
		},
		"esaenz7azfs101_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "esaen"
		},
		"esaenz7azkv101_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://esenz7azkv101.vault.azure.net/"
		},
		"esaenz7azsyaf101_properties_typeProperties_endpoint": {
			"type": "string",
			"defaultValue": "https://esaenz7azsy101.dev.azuresynapse.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azpl101')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "esaenz7azcd101",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FL_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FL_DATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OP_CARRIER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OP_CARRIER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OP_CARRIER_FL_NUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OP_CARRIER_FL_NUM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORIGIN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORIGIN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DEST",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DEST",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CRS_DEP_TIME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CRS_DEP_TIME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DEP_TIME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DEP_TIME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DEP_DELAY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DEP_DELAY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TAXI_OUT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAXI_OUT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "WHEELS_OFF",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WHEELS_OFF",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "WHEELS_ON",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WHEELS_ON",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TAXI_IN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAXI_IN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CRS_ARR_TIME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CRS_ARR_TIME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ARR_TIME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ARR_TIME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ARR_DELAY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ARR_DELAY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CANCELLED",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CANCELLED",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CANCELLATION_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CANCELLATION_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DIVERTED",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DIVERTED",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CRS_ELAPSED_TIME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CRS_ELAPSED_TIME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ACTUAL_ELAPSED_TIME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ACTUAL_ELAPSED_TIME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "AIR_TIME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AIR_TIME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DISTANCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DISTANCE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CARRIER_DELAY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CARRIER_DELAY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "WEATHER_DELAY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WEATHER_DELAY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NAS_DELAY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAS_DELAY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SECURITY_DELAY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SECURITY_DELAY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LATE_AIRCRAFT_DELAY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LATE_AIRCRAFT_DELAY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Unnamed: 27",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unnamed: 27",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "esaenz7azds101",
								"type": "DatasetReference",
								"parameters": {
									"filename": "2018.csv",
									"path": "source"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "esaenz7azdl101",
								"type": "DatasetReference",
								"parameters": {
									"filesystem": "esaenzazdl101",
									"path": "bronze",
									"filename": "data1.csv"
								}
							}
						]
					},
					{
						"name": "esaenz7azcd102",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Airport",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Airport",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Code1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Code1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Code2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Code2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LocationLat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LocationLat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LocationLng",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LocationLng",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "c1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "c1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "c2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "c2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "c3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "c3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "c4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "c4",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "c5",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "c5",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "c6",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "c6",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "esaenz7azds102",
								"type": "DatasetReference",
								"parameters": {
									"filename": "airports.csv",
									"path": "source"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "esaenz7azdl101",
								"type": "DatasetReference",
								"parameters": {
									"filesystem": "esaenzazdl101",
									"path": "bronze",
									"filename": "data2.csv"
								}
							}
						]
					},
					{
						"name": "esaenz7azcd103",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EventId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EventId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Severity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Severity",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "StartTime(UTC)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StartTime(UTC)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "EndTime(UTC)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EndTime(UTC)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TimeZone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TimeZone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "AirportCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AirportCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LocationLat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LocationLat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LocationLng",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LocationLng",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ZipCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ZipCode",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "esaenz7azds103",
								"type": "DatasetReference",
								"parameters": {
									"filename": "weather.csv",
									"path": "source"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "esaenz7azdl101",
								"type": "DatasetReference",
								"parameters": {
									"filesystem": "esaenzazdl101",
									"path": "bronze",
									"filename": "data3.csv"
								}
							}
						]
					},
					{
						"name": "esaenz7azgm101",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "esaenz7azcd101",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "esaenz7azdl101",
								"type": "DatasetReference",
								"parameters": {
									"filesystem": "esaenzazdl101",
									"path": "bronze",
									"filename": "data1.csv"
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"exists",
								"lastModified",
								"columnCount",
								"size",
								"contentMD5"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "esaenz7azgm102",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "esaenz7azcd102",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "esaenz7azdl101",
								"type": "DatasetReference",
								"parameters": {
									"filesystem": "esaenzazdl101",
									"path": "bronze",
									"filename": "data2.csv"
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"exists",
								"lastModified",
								"columnCount",
								"size",
								"contentMD5"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "esaenz7azgm103",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "esaenz7azcd103",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "esaenz7azdl101",
								"type": "DatasetReference",
								"parameters": {
									"filesystem": "esaenzazdl101",
									"path": "bronze",
									"filename": "data3.csv"
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"exists",
								"lastModified",
								"columnCount",
								"size",
								"contentMD5"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "esaenz7azdf101",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "esaenz7azcd101",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "esaenz7azcd102",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "esaenz7azcd103",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "esaenz7azdf101",
								"type": "DataFlowReference",
								"parameters": {
									"column101": "'Code1'",
									"column102": "'DEST'",
									"column201": "'Code2'",
									"column202": "'AirportCode'"
								},
								"datasetParameters": {
									"source1": {
										"filesystem": "esaenzazdl101",
										"path": "bronze",
										"filename": "data1.csv"
									},
									"source2": {
										"filesystem": "esaenzazdl101",
										"path": "bronze",
										"filename": "data2.csv"
									},
									"source3": {
										"filesystem": "esaenzazdl101",
										"path": "bronze",
										"filename": "data3.csv"
									},
									"sink101": {
										"filesystem": "esaenzazdl101",
										"path": "silver",
										"filename": "data1.csv"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "esaenz7azsynb101",
						"type": "SynapseNotebook",
						"dependsOn": [
							{
								"activity": "esaenz7azdf101",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebook": {
								"referenceName": {
									"value": "esaenz7azipynb101",
									"type": "Expression"
								},
								"type": "NotebookReference"
							},
							"snapshot": true,
							"sparkPool": {
								"referenceName": {
									"value": "esaenz7azsp101",
									"type": "Expression"
								},
								"type": "BigDataPoolReference"
							},
							"executorSize": "Small",
							"conf": {
								"spark.dynamicAllocation.enabled": null,
								"spark.dynamicAllocation.minExecutors": null,
								"spark.dynamicAllocation.maxExecutors": null
							},
							"driverSize": "Small",
							"numExecutors": null
						},
						"linkedServiceName": {
							"referenceName": "esaenz7azsyaf101",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/esaenz7azds101')]",
				"[concat(variables('factoryId'), '/datasets/esaenz7azdl101')]",
				"[concat(variables('factoryId'), '/datasets/esaenz7azds102')]",
				"[concat(variables('factoryId'), '/datasets/esaenz7azds103')]",
				"[concat(variables('factoryId'), '/dataflows/esaenz7azdf101')]",
				"[concat(variables('factoryId'), '/linkedServices/esaenz7azsyaf101')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azdl101')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filesystem": {
						"type": "String",
						"defaultValue": "esaenzazdl101"
					},
					"path": {
						"type": "string",
						"defaultValue": "bronze"
					},
					"filename": {
						"type": "string",
						"defaultValue": "*.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().path",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().filesystem",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azds101')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "esaenz7azfs101",
					"type": "LinkedServiceReference",
					"parameters": {
						"path": "G:\\My Drive\\ACADÉMICO\\Datapath\\Azure\\Proyecto Final"
					}
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "*.csv"
					},
					"path": {
						"type": "String",
						"defaultValue": "source"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().path",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FL_DATE",
						"type": "String"
					},
					{
						"name": "OP_CARRIER",
						"type": "String"
					},
					{
						"name": "OP_CARRIER_FL_NUM",
						"type": "String"
					},
					{
						"name": "ORIGIN",
						"type": "String"
					},
					{
						"name": "DEST",
						"type": "String"
					},
					{
						"name": "CRS_DEP_TIME",
						"type": "String"
					},
					{
						"name": "DEP_TIME",
						"type": "String"
					},
					{
						"name": "DEP_DELAY",
						"type": "String"
					},
					{
						"name": "TAXI_OUT",
						"type": "String"
					},
					{
						"name": "WHEELS_OFF",
						"type": "String"
					},
					{
						"name": "WHEELS_ON",
						"type": "String"
					},
					{
						"name": "TAXI_IN",
						"type": "String"
					},
					{
						"name": "CRS_ARR_TIME",
						"type": "String"
					},
					{
						"name": "ARR_TIME",
						"type": "String"
					},
					{
						"name": "ARR_DELAY",
						"type": "String"
					},
					{
						"name": "CANCELLED",
						"type": "String"
					},
					{
						"name": "CANCELLATION_CODE",
						"type": "String"
					},
					{
						"name": "DIVERTED",
						"type": "String"
					},
					{
						"name": "CRS_ELAPSED_TIME",
						"type": "String"
					},
					{
						"name": "ACTUAL_ELAPSED_TIME",
						"type": "String"
					},
					{
						"name": "AIR_TIME",
						"type": "String"
					},
					{
						"name": "DISTANCE",
						"type": "String"
					},
					{
						"name": "CARRIER_DELAY",
						"type": "String"
					},
					{
						"name": "WEATHER_DELAY",
						"type": "String"
					},
					{
						"name": "NAS_DELAY",
						"type": "String"
					},
					{
						"name": "SECURITY_DELAY",
						"type": "String"
					},
					{
						"name": "LATE_AIRCRAFT_DELAY",
						"type": "String"
					},
					{
						"name": "Unnamed: 27",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/esaenz7azfs101')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azds102')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "esaenz7azfs101",
					"type": "LinkedServiceReference",
					"parameters": {
						"path": "G:\\My Drive\\ACADÉMICO\\Datapath\\Azure\\Proyecto Final"
					}
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "*.csv"
					},
					"path": {
						"type": "String",
						"defaultValue": "source"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().path",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Id",
						"type": "String"
					},
					{
						"name": "Airport",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Code1",
						"type": "String"
					},
					{
						"name": "Code2",
						"type": "String"
					},
					{
						"name": "LocationLat",
						"type": "String"
					},
					{
						"name": "LocationLng",
						"type": "String"
					},
					{
						"name": "c1",
						"type": "String"
					},
					{
						"name": "c2",
						"type": "String"
					},
					{
						"name": "c3",
						"type": "String"
					},
					{
						"name": "c4",
						"type": "String"
					},
					{
						"name": "c5",
						"type": "String"
					},
					{
						"name": "c6",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/esaenz7azfs101')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azds103')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "esaenz7azfs101",
					"type": "LinkedServiceReference",
					"parameters": {
						"path": "G:\\My Drive\\ACADÉMICO\\Datapath\\Azure\\Proyecto Final"
					}
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "weather.csv"
					},
					"path": {
						"type": "String",
						"defaultValue": "source"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().path",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EventId",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Severity",
						"type": "String"
					},
					{
						"name": "StartTime(UTC)",
						"type": "String"
					},
					{
						"name": "EndTime(UTC)",
						"type": "String"
					},
					{
						"name": "TimeZone",
						"type": "String"
					},
					{
						"name": "AirportCode",
						"type": "String"
					},
					{
						"name": "LocationLat",
						"type": "String"
					},
					{
						"name": "LocationLng",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "County",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "ZipCode",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/esaenz7azfs101')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azds201')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "data1.csv"
					},
					"path": {
						"type": "String",
						"defaultValue": "silver"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().path",
							"type": "Expression"
						},
						"fileSystem": "esaenzazdl101"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Id",
						"type": "String"
					},
					{
						"name": "Airport",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Code1",
						"type": "String"
					},
					{
						"name": "Code2",
						"type": "String"
					},
					{
						"name": "LocationLat",
						"type": "String"
					},
					{
						"name": "LocationLng",
						"type": "String"
					},
					{
						"name": "c1",
						"type": "String"
					},
					{
						"name": "c2",
						"type": "String"
					},
					{
						"name": "c3",
						"type": "String"
					},
					{
						"name": "c4",
						"type": "String"
					},
					{
						"name": "c5",
						"type": "String"
					},
					{
						"name": "c6",
						"type": "String"
					},
					{
						"name": "FL_DATE",
						"type": "String"
					},
					{
						"name": "OP_CARRIER",
						"type": "String"
					},
					{
						"name": "OP_CARRIER_FL_NUM",
						"type": "String"
					},
					{
						"name": "ORIGIN",
						"type": "String"
					},
					{
						"name": "DEST",
						"type": "String"
					},
					{
						"name": "CRS_DEP_TIME",
						"type": "String"
					},
					{
						"name": "DEP_TIME",
						"type": "String"
					},
					{
						"name": "DEP_DELAY",
						"type": "String"
					},
					{
						"name": "TAXI_OUT",
						"type": "String"
					},
					{
						"name": "WHEELS_OFF",
						"type": "String"
					},
					{
						"name": "WHEELS_ON",
						"type": "String"
					},
					{
						"name": "TAXI_IN",
						"type": "String"
					},
					{
						"name": "CRS_ARR_TIME",
						"type": "String"
					},
					{
						"name": "ARR_TIME",
						"type": "String"
					},
					{
						"name": "ARR_DELAY",
						"type": "String"
					},
					{
						"name": "CANCELLED",
						"type": "String"
					},
					{
						"name": "CANCELLATION_CODE",
						"type": "String"
					},
					{
						"name": "DIVERTED",
						"type": "String"
					},
					{
						"name": "CRS_ELAPSED_TIME",
						"type": "String"
					},
					{
						"name": "ACTUAL_ELAPSED_TIME",
						"type": "String"
					},
					{
						"name": "AIR_TIME",
						"type": "String"
					},
					{
						"name": "DISTANCE",
						"type": "String"
					},
					{
						"name": "CARRIER_DELAY",
						"type": "String"
					},
					{
						"name": "WEATHER_DELAY",
						"type": "String"
					},
					{
						"name": "NAS_DELAY",
						"type": "String"
					},
					{
						"name": "SECURITY_DELAY",
						"type": "String"
					},
					{
						"name": "LATE_AIRCRAFT_DELAY",
						"type": "String"
					},
					{
						"name": "Unnamed: 27",
						"type": "String"
					},
					{
						"name": "EventId",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Severity",
						"type": "String"
					},
					{
						"name": "StartTime(UTC)",
						"type": "String"
					},
					{
						"name": "EndTime(UTC)",
						"type": "String"
					},
					{
						"name": "TimeZone",
						"type": "String"
					},
					{
						"name": "AirportCode",
						"type": "String"
					},
					{
						"name": "County",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "ZipCode",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azds301')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "data1.csv"
					},
					"path": {
						"type": "String",
						"defaultValue": "gold"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().path",
							"type": "Expression"
						},
						"fileSystem": "esaenzazdl101"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "iata",
						"type": "String"
					},
					{
						"name": "icao2",
						"type": "String"
					},
					{
						"name": "date1",
						"type": "String"
					},
					{
						"name": "wtyp",
						"type": "String"
					},
					{
						"name": "wsev",
						"type": "String"
					},
					{
						"name": "icao6",
						"type": "String"
					},
					{
						"name": "date2",
						"type": "String"
					},
					{
						"name": "orig",
						"type": "String"
					},
					{
						"name": "dest",
						"type": "String"
					},
					{
						"name": "carrier",
						"type": "String"
					},
					{
						"name": "depdel",
						"type": "String"
					},
					{
						"name": "txout",
						"type": "String"
					},
					{
						"name": "selap",
						"type": "String"
					},
					{
						"name": "dist",
						"type": "String"
					},
					{
						"name": "wkday",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "morning",
						"type": "String"
					},
					{
						"name": "label",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service to Azure data lake.",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azfs101')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service to file system.",
				"parameters": {
					"path": {
						"type": "string",
						"defaultValue": "G:\\My Drive\\ACADÉMICO\\Datapath\\Azure\\Proyecto Final"
					}
				},
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('esaenz7azfs101_properties_typeProperties_host')]",
					"userId": "[parameters('esaenz7azfs101_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('esaenz7azfs101_password')]"
					}
				},
				"connectVia": {
					"referenceName": "esaenz7azir101",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/esaenz7azir101')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azkv101')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('esaenz7azkv101_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azsyaf101')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSynapseArtifacts",
				"typeProperties": {
					"endpoint": "[parameters('esaenz7azsyaf101_properties_typeProperties_endpoint')]",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/4a054454-d9c2-464c-8a54-3e310a9f36c8/resourceGroups/RG_PROYECTO_FINAL_DE_AZURE_ESTEBAN_SAENZ/providers/Microsoft.Synapse/workspaces/esaenz7azsy101"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azdfst101')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 7,
						"startTime": "2023-08-28T00:00:00Z",
						"endTime": "2023-12-31T00:00:00Z",
						"timeZone": "UTC",
						"schedule": {}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azir101')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Integration runtime self hosted.",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/esaenz7azdf101')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "esaenz7azdl101",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "esaenz7azdl101",
								"type": "DatasetReference"
							},
							"name": "source2"
						},
						{
							"dataset": {
								"referenceName": "esaenz7azdl101",
								"type": "DatasetReference"
							},
							"name": "source3"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "esaenz7azdl101",
								"type": "DatasetReference"
							},
							"name": "sink101"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "join2"
						}
					],
					"scriptLines": [
						"parameters{",
						"     column101 as string ('Code1'),",
						"     column102 as string ('DEST'),",
						"     column201 as string ('Code2'),",
						"     column202 as string ('AirportCode')",
						"}",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> source2",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> source3",
						"source2, source1 join(toString(byName($column101)) == toString(byName($column102)),",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1, source3 join(toString(byName($column201)) == toString(byName($column202)),",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink101"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/esaenz7azdl101')]"
			]
		}
	]
}